<div>
  <div style="display: inline-block">
    <label>路线: </label>
    <select [(ngModel)]="selectedPath" name="roadmap" (ngModelChange)="onSelectPath()">
      <option *ngFor="let road of roadmap" [value]="road.path">{{road.path}}</option>
    </select>
  </div>

  <div *ngIf="selectedPath" style="display: inline-block">
    <label>站点: </label>
    <select [(ngModel)]="selectedStation">
      <option *ngFor="let station of stationCandidates" [ngValue]="station">{{station.name}}</option>
    </select>
  </div>
</div>

<button [disabled]="selectedStation.name === '' || selectedPath === ''" (click)="onSubmit()">提交</button>
