<div>
  <div style="display: inline-block">
    <ul class="nav flex-column" id="menu">
      <li class="nav-item">

        <a class="nav-link leftBarList " #barTable routerLink="/user" id="barTable" routerLinkActive="active">
          <img class="mat-icon" src="assets/img/user.png">
          用户信息</a>
      </li>
      <li class="nav-item">

        <a class="nav-link leftBarList" routerLink="/roadmap" routerLinkActive="active">
          <img class="mapIcon" src="assets/img/roadmap.png">
          选择路线</a>
      </li>
      <li class="nav-item">

        <a class="nav-link leftBarList" routerLink="/driver" routerLinkActive="active">
          <img class="mapIcon" src="assets/img/driver.png">
          司机信息</a>
      </li>
      <li class="nav-item">

        <a class="nav-link leftBarList" routerLink="/admin" routerLinkActive="active">
          <img class="mapIcon" src="assets/img/admin.png">
          管理员</a>
      </li>
    </ul>
  </div>

  <div style="display: inline-block">
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </div>
</div>
